@import "tailwindcss";


/* Custom scrollbar styling */
::-webkit-scrollbar {
     width: 5px;
}

::-webkit-scrollbar-track {
     background: transparent;
}
::-webkit-scrollbar-thumb {
     background: #7288aa;
     border-radius: 20px;
}